/* GLOBAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.clearfix::before{
  content: "";
  display: table;
  clear: both;
}

.anchor{
  padding-top: 70px; 
 }

 .container{
  width: 60%;
  margin: 0 auto;
}

/* NAV */

nav{
  width: 100%;
  height: 70px;
  background-color: white;
  position: fixed;
  font-size: 20px;
  padding: 0 1vh;
  min-width: 1250px;
  z-index: 1000;
  
}

.nav-left, .nav-right{
  line-height: 70px;
}

nav .nav-left{
  float: left;
}

nav .nav-right{
  float: right;
}

.nav-left img{
  vertical-align: middle;
}
/* menu */

.menu{
  vertical-align: middle;
}

.menu.right, .menu.left{
  display: inline-block;
}

.menu li{
  display: inline-block;
  padding-right: 5px;
  list-style: none;
  margin: auto 1.5vw;

}

.menu li a{
  text-decoration: none;
  color: black;
  padding-bottom: 18px;
  
}

.menu li a:hover{
  text-decoration: none;
  border-bottom: 1px solid black;
  
}



/* btn */
.btn{
  text-align: center;
}

.btn a{
  text-decoration: none;
  padding: 10px;
}

.btn.classic a{
  background-color: #0061ff;
  color: white;
}

.btn.classic a:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn.classic a:visited{
  color: white;
}

.btn.classic a:hover:visited{
  color: black;
}





/* JUMBOTRON */

.jumbotron{ 
  background-color: #b4d0e7;
  float: left; /* altrimenti si riduce */
  width: 100%;
}

.jumbo-box .title{
  font-size: 50px;
  font-weight: bolder;

}

.jumbo-box .paragraph{
  float: left;
  width: 30%;
  font-size: 13px;
}

.jumbo-box .paragraph p{
  padding: 5vh 0;
}

.jumbo-box img{
  float: right;
  width: 60%;
  padding: 5vh 0;
}

.paragraph i{
  font-size: 30px;
}



